*#
*.iml
*.ipr
*.iws
*.pyc
*.tm.epoch
*.vim
*/project/boot
*/project/build/target
*/project/project.target.config-classes
*-shim.sbt
*~
.#*
.*.swp
.DS_Store
.cache
.cache
.classpath
.codefellow
.ensime*
.eprj
.history
.idea
.manager
.multi-jvm
.project
.scala_dependencies
.scalastyle
.settings
.tags
.tags_sorted_by_file
.worksheet
Makefile
TAGS
lib_managed
logs
project/boot/*
project/plugins/project
src_managed
tm*.lck
tm*.log
tm.out
worker*.log
/bin
tags
tq:q
*DoNotCommit*
.sbtopts
.metals
.bloop
.bsp
.envrc
project/boot
/target
.ensime
.ensime_lucene
.ensime_cache
.ensime_snapshot
ensime.sbt
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea/
.idea/*
.idea_modules
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
# Auto-copied by sbt-microsites
docs/src/main/tut/contributing.md
.ignore
result*
project/metals.sbt
.bloop/
.metals/
project/.bloop/
.bsp
project/project/*
*.iml
src/test/scala/*
.scala/*
.vscode/*
/project/target/*
/onlycats-docs/target/scala-2.13
/onlycats-docs/target/streams
!/onlycats-docs/target/mdoc/*